body {
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}

.hover-bg:hover {
    background-color: #e7e7e7; 
    transition: background-color 0.3s;
    border-radius: 5px;
}
  

.hover-bg:hover .nav-link {
    color: inherit;
}
  

.hover-bg:hover .nav-link:hover {
    text-decoration: none;
}

.decor-none a{
    text-decoration: none;
    font-weight: bold;
    color: grey;
}